        body {
            text-align: center;
            background-color: #011F3F;
        }
        
        .header {
            height: 8rem;
            line-height: 0.6;
            margin: 1rem 0;
        }
        
        #level-title {
            font-family: 'Press Start 2P', cursive;
            font-size: 2.5rem;
            margin-top: 1rem;
            color: #FEF2BF;
        }
        
        #startButton {
            font-family: 'Press Start 2P', cursive;
            font-size: 2rem;
            margin-bottom: 1.5rem;
            width: 200px;
            font-weight: bolder;
        }
        
        hr {
            color: white;
        }
        
        #whose-turn {
            font-family: cursive;
            font-size: 2rem;
            color: #DEEDF0;
        }
        
        #score {
            font-size: 2.5rem;
            color: #E5D549;
        }
        
        .container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        
        .buttons-section {
            display: grid;
            grid-template-columns: auto auto;
            margin: 1rem 0 0;
            width: 270px;
            height: 270px;
        }
        
        .btn {
            height: 120px;
            width: 120px;
            border: 10px solid black;
            border-radius: 20%;
        }
        
        .game-over {
            background-color: red;
            opacity: 0.8;
        }
        
        .hurray {
            background-color: yellow;
            opacity: 0.7;
        }
        
        .red {
            background-color: red;
        }
        
        .green {
            background-color: green;
        }
        
        .blue {
            background-color: blue;
        }
        
        .yellow {
            background-color: yellow;
        }
        
        .pressed {
            box-shadow: 0 0 20px white;
            background-color: grey;
        }